.mine-message
    width: 50%
    margin-left: 50%

.stranger-message
    width: 50%
    margin-left: 250px

.chat-header
    display: flex
    flex-wrap: wrap

.chat-main
    position: relative
    justify-content: space-between
    .chat-sidebar
        overflow-y: hidden
        position: absolute
        height: 100%
    .chat-messages
        min-height: 400px

@import './media'
